.buttons {
  text-align: center;
}

.blobBtn {
  position: relative;
  padding: 8px 35px;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 10px;
  z-index: 1;
}

.blobBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #8c0fb3;
  border-radius: 10px;
  z-index: 1;
}

.blobBtn::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
  z-index: -2;
}

.blobBtn:hover {
  color: #FFFFFF;
}

.blobBtn:hover::after {
  left: 0;
  top: 0;
}

.blobBtnInner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  z-index: -1;
}

.blobBtnBlobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}

.blobBtnBlob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #8c0fb3;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

.blobBtnBlob:nth-child(1) {
  left: 0;
  transition-delay: 0s;
}

.blobBtnBlob:nth-child(2) {
  left: 25%;
  transition-delay: 0.08s;
}

.blobBtnBlob:nth-child(3) {
  left: 50%;
  transition-delay: 0.16s;
}

.blobBtnBlob:nth-child(4) {
  left: 75%;
  transition-delay: 0.24s;
}

.blobBtn:hover .blobBtnBlob {
  transform: translateZ(0) scale(1.4);
}
