@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --color-diario: #1d1d1d;
    --color-mensual: #303030;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.landing-page-body {
  color: var(--foreground);
  background: #000;
}

.bowlby-one-regular {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-calistoga {
   font-family: Calistoga;
}

.link-super-large {
  font-size: 42px;
}

.link-large {
    font-size: 24px;
}

.link-small {
    font-size: 12px;
}

.icon-location {
    color: #A711D0;
}

.card-about-border-radius {
  border-radius: 48px;
}

.demoPage {
    background-color: white;
    border: 1px solid #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.flipbook-container {
    position: relative;
    transition: transform 0.5s ease, margin 0.5s ease;
}

.centered {
    transform: translateX(calc(50vw - 150px));
}


.blur-background {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 55%;
    width: 570px;
    height: 580px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgba(107, 114, 128, 0.5);
    filter: blur(10px);
}

@media (max-width: 768px) {
  .demoPage {
      margin-top: -30%;
  }
  .blur-background {
      top: 60%;
      width: 300px;
      height: 570px;
  }
}


.bounce-animation {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

@keyframes subtleBounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-12px);
  }
}

.bounce-animation {
  animation: subtleBounce 1s ease-in-out infinite;
}


.navigation-button {
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  padding: 32px;
  font-size: 2rem;
  transform: translateY(-50%);
  top: 50%;
  background-color: #5F605E;
  border-radius: 50%;
  padding: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navigation-button:hover {
  background-color: black;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.navigation-button:active {
  background-color: black;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.7);
  transform: scale(0.95);
}

.navigation-button:hover .icon {
  color: white;
}
.navigation-button-left {
  left: 20%;
}

.navigation-button-right {
  right: 20%;
}


@media (max-width: 768px) {
  .navigation-button {
      position: absolute;
      top: 100%;
      transform: translateY(0);
      margin-top: 50px;
  }
  
}


@keyframes soft-bounce {
0%, 100% {
  transform: translateY(0);
}
50% {
  transform: translateY(-8px);
}
}

.animate-soft-bounce {
animation: soft-bounce 1.2s ease-in-out infinite;
}

.card-effect {
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-effect:hover {
transform: scale(1.05);
box-shadow: 0 8px 15px rgba(167, 17, 208, 0.4);
}


@keyframes heartbeat {
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(0.9);
  }
  50% {
      transform: scale(1);
  }
  75% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1);
  }
}

.animate-heartbeat {
  animation: heartbeat 3s ease-in-out infinite;
}